<nav class="flex justify-between p-4 bg-purple-800 text-white">
    <div>
        <a routerLink="/books"><strong class="m-4">BOOK SHOP</strong></a>
    </div>
    <div>
        <a class="mx-4" (click)="cleardata()" routerLink=""><strong>LOG OUT</strong></a>
        <a class="mx-4" routerLink="/book/add"><strong>ADD BOOK</strong></a>
        <a class="mx-4" routerLink="/cart"><strong>MY CART</strong></a>
        <a class="mx-4" routerLink="/profile"><strong>MY PROFILE</strong></a>
    </div>

</nav>


